body
{
background:#0b0b0b;
color:white;
font-family:Arial;
margin:0;
}

header
{
display:flex;
justify-content:space-between;
padding:15px;
background:#1b001f;
}

.logo
{
font-size:22px;
color:#c084ff;
}

button
{
background:#2c0033;
border:none;
color:white;
padding:8px 14px;
margin:4px;
cursor:pointer;
}

button:hover
{
background:#480058;
}

#songs
{
padding:20px;
}

.song
{
background:#140018;
margin-bottom:8px;
padding:10px;
cursor:pointer;
}

.song:hover
{
background:#2a0033;
}

#player
{
position:fixed;
bottom:0;
width:100%;
background:#120015;
padding:10px;
display:flex;
align-items:center;
gap:10px;
}
